@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family: 'Roboto', sans-serif;
  
  background: rgb(84, 24, 94);

  background: linear-gradient(90deg, rgb(92, 16, 105) 0%, rgb(42, 42, 92) 100%);

  background: -moz-linear-gradient(90deg, rgb(73, 10, 84) 0%, rgb(42, 42, 92) 100%);

  background: -webkit-linear-gradient(90deg, rgb(106, 29, 119) 0%, rgb(41, 41, 104) 100%);

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#C621E5", endColorstr="#7D7CF9", GradientType=1 );
  
  color: azure;
}
